@import './vars.css';
@import './vueflow.css';
@import '../../components/base/action-button/index.css';
@import './input.css';
@import './split.css';

@tailwind base;
@tailwind components;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

button {
  border: none;
}

.ellipsis {
  @apply whitespace-nowrap overflow-hidden text-ellipsis;
}

.system-2xs-medium-uppercase {
  text-transform: uppercase;
}

.add-icon {
  height:16px;
  width:16px;
  border-color: var(--node-border-color__hover);
  position: relative;
}
.add-icon::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: var(--node-border-color__hover);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.add-icon::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: var(--node-border-color__hover);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}

.custom-popover {
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

.custom-dialog {
  padding: 0 !important;
  background: rgb(31 41 55 / var(--un-bg-opacity)) /* #1f2937 */ !important;
}

.custom-dialog .el-dialog__header {
  height: 48px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-dialog .el-dialog__body {
  padding: 24px;
}

.custom-dialog .el-dialog__footer {
  padding: 24px 16px;
  border-top: 1px solid rgb(64 64 64 / var(--un-border-opacity)) /* #404040 */;
}

.text-text-warning {
  @apply text-orange-500;
}
.text-util-colors-cyan-cyan-500 {
  @apply text-cyan-500;
}
.text-util-colors-violet-violet-600 {
  @apply text-violet-400;
}
.text-util-colors-teal-teal-700 {
  @apply text-teal-700;
}
.text-text-accent {
  @apply text-blue-400;
}

.text-text-tertiary {
  @apply text-gray-4;
}

.text-text-secondary {
  @apply text-gray-3;
}

.text-text-tertiary-hover {
  @apply hover:text-gray-3;
}

.text-text-primary {
  @apply text-blue-500;
}

.popper-default {
  @apply border border-gray-700 border-solid bg-gray-800  rounded-lg;
}

button {
  cursor: pointer;
  background-color: transparent;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}