@import './vars.css';
@import './vueflow.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.ellipsis {
  @apply whitespace-nowrap overflow-hidden text-ellipsis;
}

.system-2xs-medium-uppercase {
  text-transform: uppercase;
}

.add-icon {
  height:16px;
  width:16px;
  border-color: var(--node-border-color__hover);
  position: relative;
}
.add-icon::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: var(--node-border-color__hover);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.add-icon::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: var(--node-border-color__hover);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}

.custom-popover {
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

.text-text-warning {
  @apply text-orange-500;
}
.text-util-colors-cyan-cyan-500 {
  @apply text-cyan-500;
}
.text-util-colors-violet-violet-600 {
  @apply text-violet-400;
}
.text-util-colors-teal-teal-700 {
  @apply text-teal-700;
}
.text-text-accent {
  @apply text-blue-400;
}