:root {
  --global-background: rgb(15 23 42 / 0.9);
  --header-background: rgb(2 6 23 / 1);
  --sidemenu-background: rgb(2 6 23 / 1);
  --panel-background: rgba(var(--dark-black-6));
  --font-main: rgba(var(--dark-white));
  --font-secondary: rgba(var(--dark-white), 0.6);
  --font-supplementry: rgba(var(--dark-white), 0.3);
  --node-handle-background: rgba(var(--dark-blue-3));
  --node-border-color: rgba(var(--dark-white), 0.6);
  --node-border-color__hover: rgba(var(--dark-white));
  --workflow-link-line__handle: #296dff;
  --workflow-link-line__normal: #d0d5dc;
  --divider-regular: rgba(107 114 128);
}
