.vue-flow__handle {
  height:8px!important;
  width:8px!important;
  background-color: var(--node-handle-background)!important;
  border-color: var(--node-border-color)!important;
  pointer-events: all!important;
}

